@import "@styles/settings/__settings";

.footer {
    width: 100%;
    height: 100px;
    color: white;
    border-top: 20px solid $c-brand-yellow;
    background-color: $c-brand-purple;
    display: flex;
    justify-content: center;
    align-items: center;
}